@import "@/assets/styles/mixins";

@media screen and (max-width: 1909px) {
  .potential-analyse {
    height: 100%;
    overflow: auto;
    padding: 16px 10px 10px 8px;
    box-sizing: border-box;

    .potential-top {
      height: 70%;
      display: flex;
      align-items: flex-start;

      .potential-left {
        display: inline-block;
        width: 55%;
        height: 100%;
        padding-right: 50px;
        box-sizing: border-box;

        .title {
          margin-bottom: 20px;
        }

        .potential-table {
          height: calc(100% - 70px);
        }
      }

      .potential-right {
        display: inline-block;
        width: 50%;
        height: 100%;

        #potential-chart {
          width: 100%;
          height: 100%;
        }
      }
    }

    .potential-bottom {
      height: 30%;
      box-sizing: border-box;
      display: flex;
      flex-flow: column;

      .bottom-content {
        //   height: 126px;
        padding: 24px 19px;
        // flex: 1;
        margin-top: 12px;
        background: #f0f3f9;
        border-radius: 3px;
        border: 1px solid #ebedf6;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #505356;
        line-height: 26px;
      }
    }
  }

  .title {
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #3f5896;
    line-height: 22px;
  }

  ul {
    li {
      height: 40px;
      line-height: 40px;
      border-radius: 40px;
      padding-left: 40px;
      .el-row {
        overflow: hidden;
      }
      .col-span {
        font-size: 14px;
        width: 100%;
        height: 100%;
        display: inline-block;
      }

      .color-blue {
        color: rgba(39, 119, 212, 1);
      }
      &:nth-child(odd) {
        background: #f2f4f8;
      }

      &:nth-child(even) {
        background: #ffffff;
      }

      &:first-child {
        font-weight: 600;
        font-size: 14px;
        color: $tableHColor;
        height: 50px;
        line-height: 50px;
      }
    }
  }
}